/*todo minfy the font and import it*/
body {
	background: #0577c8;
}

@media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
		html{
			font-size: 12px;
		}

		.falseTips {
    		padding-top: 1vw;
		}

		.question-select.bounceInUp2 {
    		padding-top: 3vw;
		}
}


@media screen and (max-width: 319px) {
		html {
			font-size: 12px; }
        }

@media screen and (min-width: 320px) and (max-width: 359px) {
		html {
			font-size: 12px;
			}

li#choices2 {
    font-size: 14px;
}

li#choices1 {
    font-size: 14px;
}

li#choices0 {
    font-size: 14px;
}

.question-select.bounceInUp2 {
    font-size:  10px;
}

.falseTips {
    /* margin-left: 1vw; */
    padding-left: 6vw;
}

.falseTips {
    /* left: 0; */
    /* position:  absolute; */
    /* margin-left: 34vw; */
}

.falseTips {
    font-size: 13px;
    /* margin-left: 0vw; */
    /* text-align:  center; */
    padding-top: 2vh;
}

li#choices0 {
    /*margin-top: 2vh;*/
}
		li{
			font-size: 15px;
			/* margin-top: -1vh; */
			/* padding-top: 7vh; */
		}
	}

	@media screen and (min-width: 360px) and (max-width: 374px) {
		html {
			font-size: 14px; }

.falseTips {
    padding: 3vw 7vw;
}
		.question-title_parent {
			font-size: 15.5px;
			margin-top: 0.9vh;
		}
	}
	@media screen and (max-width: 383px) and (min-width: 375px) {
		html {
			font-size: 14px;
			}

img.answertitles_box {
    height: 49vw;
}

.falseTips {
    font-size: 16px;
    padding-left: 5vw;
}



.question-select.bounceInUp2 {
    margin-right: 11vh;
}
		.question-select.bounceInUp2 {
			/* margin-top: 2vh; */
			padding-top: -3vh;
		}

		.question-select{
		/*margin-top: 12!important;*/
		font-size: 15px;
		}
		.falseTips{
			margin-top: 45vw !important;
		}
	}

	@media screen and (min-width: 384px) and (max-width: 399px) {
		html {
			font-size: 14px; } }
	@media screen and (min-width: 400px) and (max-width: 413px) {
		html {
			font-size: 14px; }

.falseTips {
    /* padding: 19px 9px; */
}

.falseTips {}

.falseTips {/* padding-left: 23px; */}
		.question-title_parent {
			margin-top: 0.5vh;
			font-size: 17px;
		}
		.falseTips {
			/* margin-top: 8vh; */
			padding-top: 3vh;
			padding-left: 5vw;
		}
	}
	@media screen and (max-width: 767px) and (min-width: 414px) {
		html {
			font-size: 14px; }

li#choices0 {
    /* margin-top: 1.5vh; */
}

.falseTips {}

.falseTips {
    padding-left: 20px;
    padding-top: 1vh;
} }
	@media screen and (min-width: 768px) and (max-width: 1023px) {
		html {
			font-size: 14px; }

	}
	@media screen and (min-width: 1024px){
		html {
			font-size: 14px; }
		.question-title_parent {
			font-size: 37px;
		}
		.question-title p, .question-title1 p {
			padding: 1vw 19vw;
			width: 60%;
			margin-left: 3rem;
			color: #635050;
		}
		.question-select.bounceInUp2 {
			font-size: 42px;
			margin-left: 5vw;
		}
		.falseTips {
			width: 55vw;
			margin-left: 24vw;
			text-indent: 1em;
			color: #635050;
			/* line-height: 1.4rem; */
			margin-top: 36vw;
		}
	}

	body,
	html {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: hanyi;
		/*overflow: hidden;*/
	}
	.processbar{
		/*background: url("../img/processbar.png");*/
		/*background-size: 99.5% 100%;*/
		/*background-repeat:no-repeat;*/
		position: absolute;
		z-index: 456;
		width: 60%;
		height: 14px;
		left: 27.5%;
		top: 9vw;
		/* border:1px solid yellow; */
		display:  flex;
		justify-content:  center;
		align-items:  center;
	}
.boxOne{
		border: 1px solid yellow;
		height: 20px;
		width: 77%;
		/* float: left; */
		display:  flex;
	}
.tag_piece,.tag_piece1,.tag_piece2,.tag_piece3{

margin: 0;
	width: 25%;
}
	/*.tag_piece1,.tag_piece2,.tag_piece3{*/
		/*display: none;*/
	/*}*/

.boxTwo{
	width: 25%;
	height:40px;
	/* border: 1px solid yellow; */
	display:  flex;
}
.veseion{

/* width: 100%; */

height: 100%;
}
	.veseion1{

		/* width: 100%; */

		height: 100%;
	}




	.imageboy{
		width: 27vw;
		height: auto;
	}

	.imagegirl{
		width: 29vw;
		height: auto;
	}
	.swiper-container {
		/*width: 100%;
      height: 100%;*/
	}

	.allPic {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	#mycanvas {
		width: 100%;
		/*padding: 0.5rem;*/
		z-index: 999;
		left: 0;
		top: 0;
		/*display: none;*/
	}

	.saveImg {
text-align: center;
     /*border: 1px solid #29A352;*/
    /* background: #29A352; */
    color: white;
    width: 30%;
    height: 50px;
    line-height: 50px;
    margin: 30px 10px;
    float: right;
	}

	.saveImg1 {
    text-align: center;
     /*border: 1px solid #29A352;*/
    /* background: #29A352; */
    color: white;
    width: 36%;
    height: 50px;
    line-height: 50px;
    margin: 30px 20px;
    float: left;
	}

	.swiper-container {
		overflow: hidden;
	}

	.question-no {
		margin-top: 9.5vw;
		/* text-align: center; */
		float:  left;
		font-size: 1rem;
		color: #635050;
		margin-left: 13vw;
	}

	.question,
	.question1 {
		margin-top: 3rem;
	}

	.question-no-type {
		font-size: 0.8rem;
		margin-top: 1rem;
	}

	.question-no,
	.question,
	.question1 {
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
		/*position: absolute;*/
	}
	.question-title_parent {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.question-title,
	.question-title1 {
		/* position: absolute; */
		/* margin-left: -2rem; */
		/* border: 1px solid #EEEEEE; */
		font-size: 4.2vw;
		margin-top: 30vh;
		/*font-weight: bold ;*/
		/*font-family: "微软雅黑";*/
		border-radius: 1rem;
		z-index: 666;
	}

	.question-title p,
	.question-title1 p {
		padding: 1vw 10vw;
		width: 60%;
		margin-left: 3rem;
		color: #635050;
	}

	.question-no-num,
	.question-no-type,
	.question-title,
	.question-title1 {
		text-align: center;
	}

.question-select {
 /* border: 1px solid #EEEEEE; */
margin-top: 11vh;
 font-size:4.2vw;
 /* font-weight: bold; */
 /* font-family: "微软雅黑"; */
 /* height: 12rem; */
 /* margin-left: -2rem; */
 /* padding: 1rem 1rem; */
}

	.question-select li {
		list-style-type: none;
		margin-top: 0.5rem;
		margin-left: 12vw;
		float: left;
		width: 53vw;
		color: #635050;
		text-align:  center;
	}
	/*第二题*/

	.question-select1 {
		border: 1px solid #EEEEEE;
		margin-top: 5rem;
		height: 12rem;
		/*margin-left: -2rem;*/
		padding: 1rem 1rem;
	}

	.question-select1 li {
		list-style-type: none;
		margin-top: 2rem;
		margin-left: -1rem;
	}
	/*第二题*/

	.content {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		/*overflow-x: hidden;*/
	}

	.main_contents span {
		margin: 0;
		padding: 0;
		font-size: 0.2rem;
		/*overflow-x: hidden;*/
	}
	/*动画*/
			/*旗帜*/
	#anim4 {
    right: 0;
    width: 100vw;
    height: 24vh;
    position: absolute;
    top: 0vh;
    /* left: 0; */
    z-index: 6;
    -webkit-animation: auto-circle4 0.5s step-end infinite;
    display: none;
	}
	@-webkit-keyframes auto-circle4 {
		0% {
			background-image: url(../img/qizi/0.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		16% {
			background-image: url(../img/qizi/1.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		33% {
			background-image: url(../img/qizi/2.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		50% {
			background-image: url(../img/qizi/3.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		66% {
			background-image: url(../img/qizi/4.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		83% {
			background-image: url(../img/qizi/5.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		100% {
			background-image: url(../img/qizi/6.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
	}


	/*下浮坐标*/
	.animSlide:nth-child(1){display: block;}
	.animSlide:nth-child(2){display: none;}
	.animSlide:nth-child(3){display: none;}


	/*红旗*/
	#anim_1{ width:100%; height:26%; position: absolute; z-index: 7;  background-repeat: no-repeat;}
  .animImg img{width: 100%;height: 100%;}
  .animImg:nth-child(1){display: block;}
  .animImg:nth-child(2){display: none;}
  .animImg:nth-child(3){display: none;}
  .animImg:nth-child(4){display: none;}
  .animImg:nth-child(5){display: none;}
  .animImg:nth-child(6){display: none;}
   .animImg:nth-child(7){display: none;}

   /*综艺*/
#anim_2{width:100%;height: 36%;position: absolute;z-index: 6;background-repeat: no-repeat;right: 0;}
  .animImgs img{width: 68vw;height: 100vw;float: right;margin-top: 68vw;}
  .animImgs:nth-child(1){display: block;}
  .animImgs:nth-child(2){display: none;}
  .animImgs:nth-child(3){display: none;}
  .animImgs:nth-child(4){display: none;}
  .animImgs:nth-child(5){display: none;}
  .animImgs:nth-child(6){display: none;}


      /*嗨剧*/
#anim_3{width: 100%;height:26%;position: absolute;z-index: 6;background-repeat: no-repeat;right: 0;}
  .animImgsa img{width: 63vw;height: 80%;float: left;margin-top: 153vw;}
  .animImgsa:nth-child(1){display: block;}
  .animImgsa:nth-child(2){display: none;}
  .animImgsa:nth-child(3){display: none;}
  .animImgsa:nth-child(4){display: none;}
  .animImgsa:nth-child(5){display: none;}
  .animImgsa:nth-child(6){display: none;}
   .animImgsa:nth-child(7){display: none;}
	      /*动漫*/
#anim_4{ width:100%; height:26%; position: absolute; z-index: 6;  background-repeat: no-repeat;right: 0;}
  .animImgsaq img{width: 83.6vw;height: 70%;float: right;margin-top: 208vw;}
  .animImgsaq:nth-child(1){display: block;}
  .animImgsaq:nth-child(2){display: none;}
  .animImgsaq:nth-child(3){display: none;}
  .animImgsaq:nth-child(4){display: none;}
  .animImgsaq:nth-child(5){display: none;}
  .animImgsaq:nth-child(6){display: none;}
  .animImgsaq:nth-child(7){display: none;}
	/*生活*/
	#anim_5{ width:40vw; height:26vh; position: absolute; z-index: 6;  background-repeat: no-repeat;left: 0;}
  .animImglife img{width: 86vw;height: 70%;float: left;margin-top: 328vw;}
  .animImglife:nth-child(1){display: block;}
  .animImglife:nth-child(2){display: none;}
  .animImglife:nth-child(3){display: none;}
  .animImglife:nth-child(4){display: none;}
  .animImglife:nth-child(5){display: none;}

/*综艺up主 动效*/
	#tipUpanims{
	position: absolute;	width:100%; height:100%;  z-index: 88;  background-repeat: no-repeat;right: 0;top: 0;display: none;
	}
  .tipUpanim img{height: 80vh;position: absolute;
    z-index: 0;
    left: 0;
    bottom: 4vh;  }
  .tipUpanim:nth-child(1){display: block;}
  .tipUpanim:nth-child(2){display: none;}
  /*嗨剧up主 动效*/
	#tipUptv{
	position: absolute;	width:100%; height:100%;  z-index: 88;  background-repeat: no-repeat;right: 0;top: 0;display: none;
	}
  .tipUptvs img{height: 80vh;position: absolute;
    z-index: 0;
    left: 0;
    bottom: 4vh;  }
  .tipUptvs:nth-child(1){display: block;}
  .tipUptvs:nth-child(2){display: none;}
    /*动漫up主 动效*/
	#tipUpcomic{
	position: absolute;	width:100%; height:100%;  z-index: 88;  background-repeat: no-repeat;right: 0;top: 0;display: none;
	}
  .tipUpcomics img{height: 80vh;position: absolute;
    z-index: 0;
    left: 0;
    bottom: 4vh;  }
  .tipUpcomics:nth-child(1){display: block;}
  .tipUpcomics:nth-child(2){display: none;}
   /*生活up主 动效*/
	#tipUplife{
	position: absolute;	width:100%; height:100%;  z-index: 88;  background-repeat: no-repeat;right: 0;top: 0;display: none;
	}
  .tipUplifes img{height: 80vh;position: absolute;
    z-index: 0;
    left: 0;
    bottom: 4vh;  }
  .tipUplifes:nth-child(1){display: block;}
  .tipUplifes:nth-child(2){display: none;}
	/*男动效*/

#tipUpanimsman{
	position: absolute;	width:100%; height:100%;  z-index: 88;  background-repeat: no-repeat;right: 0;top: 0;display: none;
	}
  .tipUpanimsmans img{height: 80vh;position: absolute;
    z-index: 0;
    right: 0;
    bottom: 4vh;  }
  .tipUpanimsmans:nth-child(1){display: block;}
  .tipUpanimsmans:nth-child(2){display: none;}
	/*nv动效*/

#tipUpanimswo{
	position: absolute;	width:100%; height:100%;  z-index: 88;  background-repeat: no-repeat;right: 0;top: 0;display: none;
	}
  .tipUpanimswos img{height: 76vh;position: absolute;
    z-index: 0;
    right: 0;
    bottom: 4vh;  }
  .tipUpanimswos:nth-child(1){display: block;}
  .tipUpanimswos:nth-child(2){display: none;}

	/*生活*/

	#anim30 {
		width: 84vw;
		height: 80vh;
		position: absolute;
		top: 182vh;
		/* left: 20px; */
		/* right: 0; */
		z-index: 6;
		animation: auto-circle3 0.5s step-end infinite;
		-webkit-animation: auto-circle3 0.5s step-end infinite;
		display: none;
	}
	.beginBox{
		display: none;
		position: absolute;
		width: 75vw;
		left: 12vw;
		top: 25vh;
		/* bottom: 0; */
		height: 44vw;
		z-index: 89;
	}
	@-webkit-keyframes auto-circle3 {
		0% {
			background-image: url(../img/life/1.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		25% {
			background-image: url(../img/life/2.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		50% {
			background-image: url(../img/life/3.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		75% {
			background-image: url(../img/life/4.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		100% {
			background-image: url(../img/life/5.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}

	}


		/*动漫*/
	#anim2 {
    right: 0;
    width: 73vw;
    height: 59vh;
    position: absolute;
    top: 118vh;
    /* left: 0; */
    z-index: 6;
    -webkit-animation: auto-circle2 0.5s step-end infinite;
    display: none;
	}
	@-webkit-keyframes auto-circle2 {
		0% {
			background-image: url(../img/comic/0.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		16% {
			background-image: url(../img/comic/1.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		33% {
			background-image: url(../img/comic/2.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		50% {
			background-image: url(../img/comic/3.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		66% {
			background-image: url(../img/comic/4.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		83% {
			background-image: url(../img/comic/5.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		100% {
			background-image: url(../img/comic/6.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
	}



	/*综艺*/
	#anim1 {
    width: 67vw;
    height: 55vh;
    position: absolute;
    top: 43vh;
    /* left: 20px; */
    right: 0;
    z-index: 6;
    -webkit-animation: auto-circle1 0.5s step-end infinite;
    display: none;
	}
	@-webkit-keyframes auto-circle1 {
		0% {
			background-image: url(../img/zongyi/0.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		20% {
			background-image: url(../img/zongyi/1.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		40% {
			background-image: url(../img/zongyi/2.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		60% {
			background-image: url(../img/zongyi/3.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		80% {
			background-image: url(../img/zongyi/4.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		100% {
			background-image: url(../img/zongyi/5.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}

	}

	/*添加葉子屬性*/
	.float_leave{
		position:absolute;
		z-index:8;

	}

	#bottom{
		position:absolute;
		z-index:8;
		width: 100vw;
		height: auto;
	}


	.bottom{
		top: 429vw;
	}

	#left{
		width: 10vw;
		height: auto;
	}

	.left{
		top: 110vh;
	}

	#logo{
		position:absolute;
		z-index:8;
		width: 60vw;
		height: auto;
	}

	.logo{
		top: 501vw;
		left: 20vw;
	}

	#anim {
    width: 98vw;
    height: 59vh;
    position: absolute;
    top: 79vh;
    left: 0;
    z-index: 6;
    -webkit-animation: auto-circle 0.5s step-end infinite;
    display: none;
	}
	@-webkit-keyframes auto-circle {
		0% {
			background-image: url(../img/images/0.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		16% {
			background-image: url(../img/images/1.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		33% {
			background-image: url(../img/images/2.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		50% {
			background-image: url(../img/images/3.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		66% {
			background-image: url(../img/images/4.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		83% {
			background-image: url(../img/images/5.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
		100% {
			background-image: url(../img/images/6.png);
			background-repeat:no-repeat ;
						background-size:100% 100% ;
		}
	}
	/*动画*/

	.beginAnswer {
		width: 21vw;
		height: 40px;
		background: #aada42;
		/*box-shadow: 5px 0px 5px #29A352 ;*/
		/*border-radius: 0.6rem;*/
		margin-left: 2rem;
		/*color: white;*/
		line-height: 40px;
		text-align: center;
		background: url(../img/continue.png) no-repeat;
		/*background-attachment: fixed;*/
		background-size: 100% 100%;
		/*background-position: center;*/
	}

	.btns {
		width: 61vw;
		height: 9vw;
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
		margin-left: 21vw;
	}

	.waitse {
		/*margin-left: 1rem;*/
		width: 21vw;
		height: 40px;
		background: #f06565;
		/*box-shadow: 3px 5px 5px #D3366A;*/
		/*border-radius: 0.6rem;*/
		/*color: white;*/
		line-height: 40px;
		text-align: center;
		background: url(../img/go_back.png) no-repeat;
		/*background-attachment: fixed;*/
		background-size: 100% 100%;
	}

	.tips_title p {
		width: 50%;
		text-align: center;
		margin-left: 26%;
		/*margin-top: -8rem;*/
		color:  #635050;
		/* font-size:  1rem; */
		line-height: 1.5rem;
		letter-spacing: 1px;
	}


	#startTips {
		width: 100%;
		height: 100%;
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
	}

	.content_img {
		width: 100%;
		position: absolute;
		z-index: 5;
		/*overflow-x: hidden;*/
	}

	.content_one,
	.content_three,
	.content_two,
	.content_four,
	.content_five {
		position: absolute;
		z-index: 10;
		/*background: rgba(255,255,255,0);*/
		width: 200px;
		height: 150px;
		-webkit-tap-highlight-color:transparent;
		-webkit-user-select:none;
	}

	.content_one {
		width: 64%;
		height: 50vw;
		top: 63vh;
		left: 10rem;
	}

	.content_one:focus{
		outline: none;
	}

	.one_path,
	.two_path,
	.three_path,
	.four_path,
	.five_path {
	position: absolute;
    z-index: 7;
   width: 32vw;
    height: 50px;
    /* background: white; */
    border-radius: 8px;
    margin-left: 40px;
    text-align: center;
   	top: -3vh;
	}
	.beginbackImg{
		width: 35vw;
    height: 73vh;
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 4vh;
	}

	.two_path {
		margin-left: 5rem;
		padding: 0rem 0.5rem;
		margin-top: 2rem;
	}

	.content_two {width: 64%;height: 50vw;top: 170vw;left: 1rem;}

	.content_three {
		top: 235vw;
		left: 19vw;
		width: 64%;
		height: 50vw;
	}

	.three_path {
		margin-left: 4rem;
	}

	.four_path {
    padding: 0 0.4rem;
    margin-left: 5rem;
    margin-top: 4rem;
	}

	.waiM,
	.waiW {
		width: 100%;
		height: 100%;
	}

	.content_four {
		top: 350vw;
		left: 11vw;
		width: 64%;
		height: 50vw;
	}

	.content_five {
		top: 250%;
		right: 13%;
		height: 250px;
	}

	.begins {
		border: none;
		background: #aae529;
		border: 1px solid #aae529;
		font-size: 0.6rem;
		margin-left: 4rem;
		color: white;
		border-radius: 0.5rem;
	}

	.next {
    width: 22vw;
    height: 12vw;
    line-height: 6vh;
    margin-top: 7rem;
    /* font-size: 0.6rem; */
    background: url(../img/continue.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    /* margin-left: 6rem; */
    color: #000;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 2vh;
    right: 8vw;
    z-index: 300;
    text-align: center;
 }

	.one_answer,
	.answer-main1,
	.swiper-no-swiping,
	.swiper-container,
	.swiper-wrapper,
	.question-wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 100;

	}
	.swiper_display_none{
		 display:none
	}
	.swiper_display_block{
		 display:block
	}
	.swiper-slide {
		/*text-align: center;*/
		font-size: 18px;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.lastpageimg{
		width: 90vw;
		height: 133vw;
		/* margin: 5vw; */
		position: absolute;
		left: 0vh;
		top: 0vh;
 }


.woringsTitle {
	padding:0 4.1rem;
 	margin-top:44vw;
 	font-size:4.2vw;
}


	h1 {
		margin-top: 20%;
	}

	.answer_tipss {
		position: absolute;
		width: 100%;
		height: 100%;
		background-attachment: fixed;
		background-position: center;
		background-size: 100% 100%;
	}

	.smell_tip {
		    z-index: 90;
    position: absolute;
    display: none;
		/*display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;*/
	}
	.questiontitles_box{
    width: 73vw;
    height: 16vh;
    position: absolute;
    z-index: -4;
    /* display: block; */
    top: 25vh;
    left: 13vw;
 }
	.answertitles_box{
    position: absolute;
    top: 21vh;
    width: 79vw;
    left: 14vw;
    /* height: 48vw; */
    z-index: -1;
    display: block;
 }
	.huida_box{
    width: 72vw;
    height: 21vh;
    position: absolute;
    top: 44vh;
    left: 15vw;
    z-index: -1;
 }
	.answer_tips {
	    margin-top: 30vh;
	    width: 100vw;
	}

	h1,
	h2 {
		text-align: center;
	}
	.sex_content{
		position: fixed;
		text-align: center;
	}

	.sex {
		overflow: hidden;
		background-color: #0577c8;
		height: 100vh;
		-webkit-tap-highlight-color:  transparent;
	}

	.sex_man {
		/* position: relative; */
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-left: 0vw;
		margin-top: -3vh;
	}

	.start_game {
	/* left: 21vw; */
	width: 56vw;
	/* top: 9vw; */
	height: auto;
	margin-top: 5vw;
	}

	.start_logo {
		/* left: 21vw; */
		width: 51vw;
		/* top: 9vw; */
		height: auto;
		position:  absolute;
		bottom: -25vw;
		margin-left: 25vw;
	}


	.boyclass{
		margin-top: 3vw;
		margin-left: 14vw;
		width: 35vw;
		height: 85vw;
		display: inline;
		float: left;
		overflow: hidden;
	}
	.girlclass{
		    margin-top: 10vw;
		    margin-right: 13vw;
		    width: 32vw;
		    height: 77vw;
		    display: inline;
		    float: right;
		    overflow: hidden;
	}
	.sex_people{
		width: 5vw;
		height: 4vw;
		margin-left: 25vw;
	}
	.sex_woman {
		width: 5vw;
		height: 4vw;
		margin-left: 68vw;
		display: none;
	}

	.dotting {

		display: inline-block;
		width: 10px;
		min-height: 2px;
		padding-right: 2px;
		border-left: 2px solid currentColor;
		border-right: 2px solid currentColor;
		background-color: currentColor;
		background-clip: content-box;
		box-sizing: border-box;
		-webkit-animation: dot 1.5s infinite step-start both;
		animation: dot 1.5s infinite step-start both;
		/**zoom: expression(this.innerHTML='...');*/
	}

	.dotting:before {
		content: '...';
	}

	.sace {
    /* margin-top: 40vh; */
    position: absolute;
    width: 100%;
    z-index: 5;
    bottom: 0rem;
    overflow: hidden;
 }
	/* IE8 */

	.dotting::before {
		content: '';
	}

	 :root .dotting {
		margin-left: 2px;
		padding-left: 2px;
	}

	#imgShow {
		position: absolute;
		top:3vh;
	}
	/* IE9+ */

	@-o-keyframes dot {
		25% {
			border-color: transparent;
			background-color: transparent;
		}
		50% {
			border-right-color: transparent;
			background-color: transparent;
		}
		75% {
			border-right-color: transparent;
		}
	}

	@-ms-keyframes dot {
		25% {
			border-color: transparent;
			background-color: transparent;
		}
		50% {
			border-right-color: transparent;
			background-color: transparent;
		}
		75% {
			border-right-color: transparent;
		}
	}

	@-moz-keyframes dot {
		25% {
			border-color: transparent;
			background-color: transparent;
		}
		50% {
			border-right-color: transparent;
			background-color: transparent;
		}
		75% {
			border-right-color: transparent;
		}
	}

	@-webkit-keyframes dot {
		25% {
			border-color: transparent;
			background-color: transparent;
		}
		50% {
			border-right-color: transparent;
			background-color: transparent;
		}
		75% {
			border-right-color: transparent;
		}
	}

	@keyframes dot {
		25% {
			border-color: transparent;
			background-color: transparent;
		}
		50% {
			border-right-color: transparent;
			background-color: transparent;
		}
		75% {
			border-right-color: transparent;
		}
	}


	#username {
		display: block;
		background: url(../img/title.png) no-repeat;
		width: 100vw;
		height: 30vh;
		background-size: 80% auto;
		background-position: center;
		padding: 102px 0 70px 40vw;
		box-sizing: border-box;
		border: none;
		font-size: 1.2rem;
	}

   #slide_down{
	   position: fixed;
	   z-index: 1000;
	   width: 11vw;
	   height: 12vw;
	   text-align: center;
	   bottom: 0;
	   left: 47vw;
	  }
    .slideAnim{width: 100%; height: 100%;text-align: center;}
	.slideAnim img{width: 100%;height: 100%;}
	.slideAnim:nth-child(1){display: block;}
	.slideAnim:nth-child(2){display: none;}
	.slideAnim:nth-child(3){display: none;}



	/*综艺*/
	#anim1 {
		width: 67vw;
		height: 55vh;
		position: absolute;
		top: 43vh;
		/* left: 20px; */
		right: 0;
		z-index: 6;
		-webkit-animation: auto-circle1 0.5s step-end infinite;
		display: none;
	}
	@-webkit-keyframes auto-circle1 {
		0% {
			background-image: url(../img/zongyi/0.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		20% {
			background-image: url(../img/zongyi/1.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		40% {
			background-image: url(../img/zongyi/2.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		60% {
			background-image: url(../img/zongyi/3.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		80% {
			background-image: url(../img/zongyi/4.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		100% {
			background-image: url(../img/zongyi/5.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}

	}
	/*综艺*/
	#anim1 {
		width: 67vw;
		height: 55vh;
		position: absolute;
		top: 43vh;
		/* left: 20px; */
		right: 0;
		z-index: 6;
		-webkit-animation: auto-circle1 0.5s step-end infinite;
		display: none;
	}
	@-webkit-keyframes auto-circle1 {
		0% {
			background-image: url(../img/zongyi/0.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		20% {
			background-image: url(../img/zongyi/1.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		40% {
			background-image: url(../img/zongyi/2.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		60% {
			background-image: url(../img/zongyi/3.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		80% {
			background-image: url(../img/zongyi/4.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}
		100% {
			background-image: url(../img/zongyi/5.png);
			background-repeat:no-repeat ;
			background-size:100% 100% ;
		}

	}



	#paperButton{
	position: absolute;
	/* z-index: 10; */
	bottom: 1vh;
	width: 100%;
	margin-bottom: 2vw;
	}
	.worsttext{
	padding: 0 3rem;
    font-size: 1.5rem;
    margin-top: 4rem;
	}
	.answer_over {
		margin: 0 auto;
		position: absolute;
		z-index: 555;
		bottom: 15vh;
		font-size: 0.8rem;
		/* margin-top: 5rem; */
		text-align: center;
		left: 25vw;
		color: white;
	}

	.ranking_over {text-align: center;width: 81vw;margin-left: 5vw;margin-top: 3.5vw;font-size: 1.5rem;position: absolute;color: white;top: 0vh;/* z-index: 666; */text-shadow: 3px 3px 3px rgba(0,0,0, 0.4);}
	.font-lastpage{/* bottom: 22vw; *//* left: 7vw; */font-size: 10px;margin-bottom: 2vw;/* position: absolute; */font-family: Arial;font-weight: bold;text-align:  left;margin-left: 8vw;/* margin-top: 5vw; */}

	.post{
		width: 100vw;
		height:100vh;
		background: #0577c8;
		text-align: center;
		position:  absolute;
	}

	.post_detail{
		height: auto;
		width: 90vw;
		margin-right: 5vw;
		margin-left: 5vw;
		margin-top: 5vw;
		/* position:  absolute; */
	}
	#ranking {
		width: 90vw;
		height: 133vw;
		/* background-repeat: no-repeat; */
		/* background-size: 100% 100%; */
		overflow:hidden;
		position: absolute;
		z-index: -4;
	}

	.spinner_content {
		width: 50px;
		height: 50px;
		text-align: center;
		position: relative;
		margin: 0 auto;
		/*margin: 100px auto;*/
	}

	.double-bounce1,
	.double-bounce2 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #67CF22;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-animation: bounce 2.0s infinite ease-in-out;
		animation: bounce 2.0s infinite ease-in-out;
	}

	.double-bounce2 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	.over_btn {
		width: 50vw;
		margin: 0 auto;
		position: absolute;
		z-index: 555;
	}

	.over_text {
		position: absolute;
		z-index:555;
		width: 50vw;
		line-height: 6vh;
	}

	@-webkit-keyframes bounce {
		0%,
		100% {
			-webkit-transform: scale(0.0)
		}
		50% {
			-webkit-transform: scale(1.0)
		}
	}

	@keyframes bounce {
		0%,
		100% {
			transform: scale(0.0);
			-webkit-transform: scale(0.0);
		}
		50% {
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}

	.slide-container ul.answers li.selected {
		background: #6fb2e5;
		box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
		-o-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
		-webkit-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
		-moz-box-shadow: 0 1px 5px #0061aa, inset 0 10px 20px #b6f9ff;
	}

	.answer-main .question .question-select li {
		/*width: 4.9rem;
  height: .66rem;
  line-height: .66rem;
  text-align: center;*/
		/*border: 1px solid #2672D0;*/
		/*border-radius: .1rem;*/
		/*margin: 0 auto .2rem;*/
		padding: 0.3rem 1rem;
	}

	.answer-main .question .question-select li.right {
		/*border-color: #29A352;*/
		background: #29A352;
		/*padding:0.3rem 1rem;*/
		color: white;
		border-radius: 0.6rem;
	}

	li.right {
		border-color: transparent;
		background: transparent;
		color: #9ad717;
		border-radius: 0.6rem;
		/*width: 49vw;*/
		/* margin: 0 auto; */
	}

	li.wrong {
		border-color: transparent;
		background: transparent;
		/* padding: 0.3rem 1rem; */
		color: #ff6631;
		border-radius: 0.6rem;
		/*width: ;*/
		/* margin: 0 auto; */
	}

	li.right1 {
		border-color: #29A352;
		background: #29A352;
		color: white;
		border-radius: 0.6rem;
		/*width: 49vw;*/
	}

	li.wrong1 {
		border-color: #D3366A;
		background: #D3366A;
		/* padding: 0.3rem 1rem; */
		color: white;
		border-radius: 0.6rem;
		width: 53vw;
	}

	.falseTips {
		position:  absolute;
		width: 54vw;
		margin-left: 21vw;
		text-indent: 1em;
		color: #635050;
		line-height: 1.5rem;
		margin-top: 20vh;
		z-index: 11;
	}

	.answer-main .question .question-select li.right {
		border-color: #29A352;
		background: #29A352;
		/*-webkit-animation: scale .5s 0s ease both;*/
		/*animation: scale .5s 0s ease both;*/
		/*padding:0.3rem 1rem;*/
		color: white;
		border-radius: 0.6rem;
		width: 50%;
		margin: 0 auto;
	}

	.answer-main .question .question-select li.wrong {
		border-color: #D3366A;
		background: #D3366A;
		/*padding:0.3rem 1rem;*/
		color: white;
		border-radius: 0.6rem;
		width: 50%;
		margin: 0 auto;
	}

	.answer-main .question .bounceInUp1 {
		/*-webkit-animation: bounceInUp 1s .2s ease both;
 animation: bounceInUp 1s .2s ease both;*/
	}

	/*.answer-main .question .question-select li.bounceInUp2 {
		-webkit-animation: bounceInUp 1s .4s ease both;
		animation: bounceInUp 1s .4s ease both;
	}

	.answer-main .question .question-select li.bounceInUp3 {
		-webkit-animation: bounceInUp 1s .6s ease both;
		animation: bounceInUp 1s .6s ease both;
	}

	.answer-main .question .question-select li.bounceInUp4 {
		-webkit-animation: bounceInUp 1s .8s ease both;
		animation: bounceInUp 1s .8s ease both;
	}

	@-webkit-keyframes bounceInDown {
		0% {
			opacity: 0;
			-webkit-transform: translateY(-2000px)
		}
		60% {
			opacity: 1;
			-webkit-transform: translateY(30px)
		}
		80% {
			-webkit-transform: translateY(-10px)
		}
		100% {
			-webkit-transform: translateY(0)
		}
	}

	@keyframes bounceInDown {
		0% {
			opacity: 0;
			transform: translateY(-2000px)
		}
		60% {
			opacity: 1;
			transform: translateY(30px)
		}
		80% {
			transform: translateY(-10px)
		}
		100% {
			transform: translateY(0)
		}
	}

	@-webkit-keyframes bounceInDown1 {
		0% {
			opacity: 0;
			-webkit-transform: translateY(-2000px)
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0)
		}
	}

	@keyframes bounceInDown1 {
		0% {
			opacity: 0;
			transform: translateY(-2000px)
		}
		100% {
			opacity: 1;
			transform: translateY(0)
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0
		}
		100% {
			opacity: 1
		}
	}

	@keyframes scale {
		0% {
			transform: scale(1)
		}
		50% {
			transform: scale(1.2)
		}
		100% {
			transform: scale(1)
		}
	}

	@-webkit-keyframes bounceInUp {
		0% {
			opacity: 0;
			-webkit-transform: translateY(2000px)
		}
		100% {
			opacity: 1;
			-webkit-transform: translateY(0)
		}
	}

	@keyframes bounceInUp {
		0% {
			opacity: 0;
			transform: translateY(2000px)
		}
		100% {
			opacity: 1;
			transform: translateY(0)
		}
	}*/

	/*.answer-main .question1 .question-select1 li {
		width: 4.9rem;
  height: .66rem;
  line-height: .66rem;
  text-align: center;
		border: 1px solid #2672D0;
		border-radius: .1rem;
		margin: 0 auto .2rem;
		padding: 0.3rem 1rem;
	}*/

	/*.answer-main .question1 .question-select1 li.right {
		/*border-color: #29A352;*/
		/*background: #29A352;
		padding:0.3rem 1rem;
		color: white;
		border-radius: 0.6rem;*/
	/*}*/

	/*.answer-main .question1 .question-select1 li.right {
		border-color: #29A352;
		background: #29A352;
		-webkit-animation: scale .5s 0s ease both;
		animation: scale .5s 0s ease both;
		/*padding:0.3rem 1rem;*/
		/*color: white;
		border-radius: 0.6rem;*/
	/*}*/

	/*.answer-main .question1 .question-select1 li.wrong {
		border-color: #D3366A;
		background: #D3366A;
		/*padding:0.3rem 1rem;*/
		/*color: white;
		border-radius: 0.6rem;*/
	/*}/*/

	.answer-main .question1 .bounceInUp11 {
		/*-webkit-animation: bounceInUp 1s .2s ease both;
 animation: bounceInUp 1s .2s ease both;*/
	}

	/*.answer-main .question1 .question-select1 li.bounceInUp21 {
		-webkit-animation: bounceInUp 1s .4s ease both;
		animation: bounceInUp 1s .4s ease both;
	}

	.answer-main .question1 .question-select1 li.bounceInUp31 {
		-webkit-animation: bounceInUp 1s .6s ease both;
		animation: bounceInUp 1s .6s ease both;
	}

	.answer-main .question1 .question-select1 li.bounceInUp41 {
		-webkit-animation: bounceInUp 1s .8s ease both;
		animation: bounceInUp 1s .8s ease both;
	}*/


	* {
		-webkit-tap-highlight-color : rgba(0, 0, 0, 0) ;
		-webkit-tap-highlight-color : transparent ;
	}

	/*media query for iphone X*/
	/*兼容iphone6 Plus,iphone7 Plus,iphone8 Plus*/

	@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){
		.start_logo {
			/* left: 21vw; */
			width: 48vw;
			/* top: 9vw; */
			height: auto;
			position:  absolute;
			bottom: -20vw;
			margin-left: 26.5vw;
		}

		.start_game {
			/* left: 21vw; */
			width: 56vw;
			/* top: 9vw; */
			height: auto;
			margin-top: 5vw;
		}

		#imgShow {
			position: absolute;
			top: 3vh;
		}

		#paperButton{
			position: absolute;
			/* z-index: 10; */
			bottom: 1vh;
			width: 100%;
			margin-bottom: 2vw;
		}

	}

	/*兼容iphoneX*/
	@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){

		.start_logo {
			/* left: 21vw; */
			width: 49vw;
			/* top: 9vw; */
			height: auto;
			position:  absolute;
			bottom: -32vw;
			margin-left: 25.5vw;
		}

		.start_game {
			/* left: 21vw; */
			width: 56vw;
			/* top: 9vw; */
			height: auto;
			margin-top: 15vw;
		}

		#imgShow {
			position: absolute;
			top: 9vh;
		}

		#paperButton{
			position: absolute;
			/* z-index: 10; */
			bottom: 12vh;
			width: 100%;
			margin-bottom: 4vw;
		}
	}



